.logo{
    color: #00b289;
    font-family: "Comic Sans MS";
}

.table{
    color: #00b289;
}

.bonsai{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(2rem, 3vw, 2rem);
}

.nav_butt, .close_butt{
    font-size: clamp(2rem, 3vw, 5rem);
    color: grey;
}

.nav_row{
    display: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 700px){
    .nav_butt{
        display: none;
    }
    .nav_row{
        display: flex;
    }
}

.nav_dropdown{
    display: none;
    flex-direction: column;
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.d_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0;
}

.nav_dropdown > .d_top> .table{
    font-size: 40px;
    padding: 10% 0 0 15%;
}

.close_butt{
    padding: 10% 11% 0 0;
}

.nav_row >ul{
    display: flex;
    flex: row;
    justify-content: space-around;
}

.nav_row{
    display: none;
    flex: row;
    justify-content: center;
    align-items: center;
}

.nav_dropdown > ul > li{
    font-size: x-large;
    color: rgb(51, 47, 47);
    padding: 7% 0 5% 0%;
}

.line{
   height: 2px;
   background-color: lightgrey;
   width: 85%;
   margin: 0%;
}

.d_bot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_p{
    width: 80%;
    font-size: larger;
    padding: 2%;
    border: 1px solid #00b289;
    color: #00b289;
    text-transform: uppercase;
}

.free_p{
    margin-top: 5%;
    width: 80%;
    font-size: larger;
    padding: 2%;
    border: 1px solid #00b289;
    background-color: #00b289;
    text-transform: uppercase;
    color: white;
}

.fa-check{
    color: #00b289;
    margin: 1% 2% 3% 0;
}

.pap{
    font-family: 'Cinzel', serif;
    font-family: 'Courier Prime', monospace;
    text-transform: capitalize;
    font-size: x-large;
    color: rgb(51, 47, 47);
    margin-left: 6%;
}

.switch{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-left: 17%;
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
}

.monthly{
    color: rgb(29, 27, 27);
}

.yearly{
    color: rgb(94, 89, 89);
}

.slider{
    background-color: #00b289;
    border-radius: 40%;
    padding: 10px;
    width: 40px;
    border: none;
}

.starter, .professional, .business{
    border: 2px solid lightgrey;
    display: flex;
    flex-direction: column;
    margin: 3%;
    padding-left: 3%;
}

.pack{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 0;
    color: rgb(51, 47, 47);
}

li{
    list-style-type: none;
}

.ideal{
    color: rgb(51, 47, 47);
    font-size: larger;
    margin: 1% 0 0 0;
}

.dollar{
    width: 90%;
    align-self: center;
    text-transform: uppercase;
    margin: 0;
}

.change{
    font-size: 70px;
    color: rgb(51, 47, 47);
    padding: 0 5%;
}

.g_line{
   height: 2px;
   background-color:#00b289;
   width: 85%;
   align-self: center;
}

.starter > ul, .professional > ul, .business > ul{
    padding: 1% 0;
    margin-left: 4%;
    text-transform: capitalize;
}

.start{
    text-transform: uppercase;
    color: white;
    background-color: #00b289;
    border: none;
    align-self: center;
    margin-bottom: 5%;
    width: 90%;
    padding: 5%;
    font-size: larger;
}

.year{
    display: none;
    color: rgb(94, 89, 89);
    margin: 0 0 1% 70%;
}

.add_text{
    font-size: x-large;
}

.three_boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.adds{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.add_ons{
    margin: 8% 8% 0 8%;
}

.add{
    margin-bottom: 20%;
}

.cost{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    margin: 0% 0% 5% 0%;
    font-weight: bold;
    color: rgb(29, 27, 27);
}

.title_add, .add_desc, .per{
    margin: 0%;
}

.per{
    text-transform: uppercase;
    font-size: medium;
    color: rgb(94, 89, 89);
    font-weight: lighter;
}

.title_add{
    text-transform: capitalize;
    margin-bottom: 1%;
    font-weight: bold;
    color: rgb(29, 27, 27);
}

.add_desc{
    color: rgb(94, 89, 89);
}

.learn{
    display: block;
    margin-top: 3%;
    text-transform: uppercase;
    font-weight: bold;
    color: #00b289;
}

.start_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(2.5rem, 3.5vw, 3rem);
    margin-bottom: 10%;
}

.business_text{
    text-align: center;
    margin: 0%;
}

.green_text{
    color: #00b289;
}

.next_line{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.start_free{
    border: none;
    background-color: #00b289;
    padding: 3% 7%;
    border-radius: 5%;
    color: white;
    text-transform: uppercase;
}

.faq{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faq_text{
    text-transform: capitalize;
    margin: 0 0 3% 0;
    color: #00b289;
    font-weight: bold;
    font-size: x-large;
}

.faq > ul{
    margin: 0% 4% 0 0;
}

.faq > ul > li{
    display: flex;
    justify-content: space-between;
    font-size: larger;
    font-weight: bold;
    margin-top: 6%;
}

.faq_info{
    display: none;
}

.fa-angle-down{
    color: rgb(94, 89, 89);
}