* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.company{
    text-transform: uppercase;
    color: rgb(236, 204, 162);
    /* clamp(min grow max) */
    font-size: clamp(.5rem, 3.5vw, 3rem);
}

.logo{
    color: rgb(236, 204, 162);
    font-size: clamp(.5rem, 3.5vw, 2.5rem);
    padding-right: 2%;
}

.hero{
    height: 40rem;
    background-image: url(../images/console.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid transparent;
}

header{
    width: 90%;
    margin: 1em auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2456;
    font-family: sans-serif;
}

.headL{
    margin: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    margin: 0 1%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(236, 204, 162);
    font-size: clamp(.2rem, 2vw, 1rem);
}

h1{
    width: 23%;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.heroC{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgb(221, 190, 149);
    font-size: clamp(.3rem, 3.5vw, 1.2rem);
    text-shadow: 1px 1px 1px #000;
}

.products{
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: #f0efed;
}

.product{
    width: clamp(25em, 48%, 60em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
    position: relative;
}

.product > img{
    width: 60%;
    display: inline-block;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.pre-order-btn, .shop-btn{
    text-transform: uppercase;
    padding: .4rem .7rem;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .05rem;
    cursor: pointer;
}

.pre-order-btn{
    background-color: #ff8b68;
    position: absolute;
    top: 15px;
    right: 159px;

}

.shop-btn{
    background-color: #1a2456;
    color: white;
    border-radius: 20px;
    display: none;
    margin-top: .3rem;
}

.itemName{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.itemDiv{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.itemDesc{
    width: 60%;
    margin: .25em 0;
    cursor: pointer;
}

footer{
    background-color: #1a2456;
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-transform: capitalize;
    gap: 1em;
    color: rgb(236, 204, 162);
    padding: 1% 10%;
    
}

footer > div{
    margin: 1% 1% 1% 1%;
    width: 50%;
}

h5{
    padding-bottom: 3%;
}

footer > div> a{
    padding-bottom: 2%;
    color: rgb(221, 190, 149);
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.subscribe > *{
    padding-bottom: 2%;
}

@media (max-width: 700px){
    footer{
        flex-direction: column-reverse;
    }
    .pre-order-btn{
        top: 10px;
        right: 61px;
    }
    .shop-btn{
        text-align: center;
    }
}

.socialMedias > i{
    border: 1px solid rgb(221, 190, 149);
    border-radius: 100%;
    background-color: rgb(221, 190, 149);
    color: #1a2456;
    font-size: medium;
    margin-right: 2%;
    padding: 2%;
}

.fa-facebook-f{
    width: 10%;
    text-align: center;
}

.email{
    background-color: transparent;
    border: 2px solid rgb(221, 190, 149);
    padding: 1%;
}

button{
    border: 2px solid rgb(221, 190, 149);
    padding: 2%;
    background-color: rgb(221, 190, 149);
    border-radius: 50%;
}