*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 5% 4%;
}

.nav{
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: white;
    left: 40%;
    top: 0;
    width: 60%;
    padding: 5% 5% 165% 5%;
    box-shadow: -195px 0px 0px 30px rgba(51, 49, 49, 0.61);
    color: rgb(97, 94, 94);
    font-weight: 500;
}

.close{
    width: 10%;
    margin: 0 0 5% 95%;
}

.nav-title{
    display: flex;
    font-size: larger;
    padding-bottom: 10%;
}

.expand-title{
    padding-right: 5%;
}

.nav-expand{
    padding: 3.5% 0;
}

.nav-collapse{
    display: none;
}

ul{
    display: none;
}

li{
    list-style-type: none;
}

.nav-but{
    border: none;
}

.desktop-pic{
    display: none;
}

.mobile-pic{
    width: 100%;
}

.main{
    padding-top: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h2{
    text-align: center;
    padding: 6% 0 2.5% 0;
    font-size: 3rem;
    font-weight: 650;
}

.body-text{
    text-align: center;
    font-size: larger;
    margin: 0 10%;
    color: rgb(97, 94, 94);
    font-weight: 550;
}

.learn-but{
    margin: 8% 30%;
    width: 35%;
    padding: 4% 2%;
    border: none;
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    font-size: large;
    font-weight: 600;
}

.foot{
    display: flex;
    justify-content: space-between;
    margin: 8% 3%;
    height: 25px;
}