* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 0;
}
    
.box1 {
    background-color: red;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

.box1:hover{
    width: 300px;
}


 
.after{
    width: fit-content;
}
.box2 {
    background-color: red;
    transition-property: width;
    transition-duration: 1s;
}
    
.box3 {
    background-color: blue;
    transition-property: width;
    transition-duration: 1s;
    transition-delay: 1s; 
}

.after:hover{
    .box2, .box3{
        width: 300px;
    }
}



    
.boxes{
    display: flex;
    flex-wrap: wrap;
    width: 15%;
    margin: 0 40%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.boxes>.box{
    margin: 0;
    transition: transform 1s;
}

.box4 {
    background-color: red;
}

.box5 {
    background-color: yellow;
}
.box6 {
    background-color: blue;
}
.box7 {
    background-color: green;
}

.boxes:hover{
    .box4{
        transform: translate(-80px) rotateZ(90deg) ;
    }
    .box6{
        transform: translate(-80px) rotateZ(-90deg) 
    }
    .box5{
        transform: translate(80px) rotateZ(-90deg) 
    }
    .box7{
        transform: translate(80px) rotateZ(90deg) 
    }
}

.reveal{
    text-align: center;
    font-size: xx-large;
    padding: 4.5% 4% 1% 0;
}



.button{
    margin: 15% 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider{
    padding: .5% 4% .5% 1%;
    border-radius: 20px;
    border: none;
    background-color: rgb(95, 90, 90);
    box-shadow: 0px 10px 0px 0px rgba(58, 58, 58);
    color: white;
    font-size: x-large;
    animation: toggle 3s infinite;
}

@keyframes toggle{
    
}