:root{
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    --accent-purple: hsl(248, 32%, 49%);
    --neutral-grey: hsl(249, 10%, 26%);
    --neutral-white: hsl(246, 25%, 77%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(46, 42, 63);
}

header{
    position: fixed;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(142, 100, 190);
    color: rgb(255, 239, 91);
}

.user{
    width: 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2%;
    font-size: clamp(1.5rem, 3vw, 1.7rem);
}

.i_user{
    font-size: clamp(1.5rem, 3vw, 1.7rem);
    padding: 0 4%;
}

.menu,.close,.info,.hamburg{
    display: none;
}

.links{
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project:hover{
    border: 1px solid rgba(46, 42, 63, 0.5);
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.089);
    border-radius: 10px;
}

.project{
    border: 1px solid transparent;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 239, 91);
    font-size: larger;
    background: rgb(142, 100, 190);
    padding: 5%;
}

main{
    margin: 0;
    padding: 2% 0;
    color: rgb(222, 219, 250);
}

.main_title{
    margin: 3% 2% 0 2%;
    color: rgb(255, 255, 255);
}

.contact{
    font-size: x-large;
    color: #000000;
}

footer{
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(142, 100, 190);
    color: rgb(0, 0, 0);
}

.foot_l{
    display: flex;
    width: 25%;
    font-size: clamp(.6rem, 3vw, 1.1rem);
    align-items: center;
    font-weight: bold;
}

.foot_r{
  width: 20%;
  font-size: clamp(.5rem, 3vw, 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.icons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.sign-up{
        height: 100vh;
        padding: 0% 5%;
        background-color: var(--primary-red);
        background-image: url("images/bg-intro-desktop.png");
        font-family: 'Poppins', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-bottom: 5%;
        padding: 0 8%;
    }
    .top-text{
        width: 50%;
        margin-right: 4%;
        padding-bottom: 5%;
    }
    .title{
        font-weight: 700;
        font-size: 3rem;
        color: white;
        margin-left: 8%;
        width: 80%;
    }
    .sub-title{
        color: white;
        width: 80%;
        margin: 3% 0 0 8.5%;
    }
    .bot-half{
        width: 50%;
        padding-bottom: 6%;
    }
    .purp-box{
        background-color: var(--accent-purple);
        text-align: center;
        margin: 10% 0 3% 0;
        padding: 3% 2%;
        border-radius: 10px;
        box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.158);
        color: var(--neutral-white);
        width: 85%;
    }
    .bold{
        font-weight: 600;
        color: white;
    }
    .white-box{
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.137);
        padding: 5.5%;
        width: 85%;
    }
    input[type=text],input[type=email],input[type=password]{
        color: var(--neutral-grey);
        font-weight: 700;
        width: 100%;
        padding: 4%;
        margin: 2%;
        border: .25px solid var(--neutral-white);
        letter-spacing: .5px;
    }
    input[type=submit]{
        color: white;
        font-weight: 700;
        background-color: var(--primary-green);
        padding: 5% 16% 3% 16%;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 5px 0px hsl(154, 57%, 45%);
        font-size: 1rem;
        margin: 1% 0 1% 2%;
        width: 100%;
    }

    input[type=submit]:hover{
        background-color: hsl(154, 57%, 45%);
    }
    
    .orange-clr{
        color: var(--primary-red);
        font-weight: 700;
    }
    .disclaim{
        text-align: center;
        margin: 2% 7% 0 0%;
        width: 100%;
        font-size: .9rem;
        font-weight: 400;
        color: var(--neutral-white);
    }

    /* weather */
    .weather-div{
        position: fixed;
        width: 22%;
        top: 80px;
        left: 5px;
        padding: 2%;
        background-color: #0d5a7e;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: large;
        border-radius: 15px;
    }
    .white-font{
        color: white;
    }
    .w-left{
        width: 34%;
    }
    .w-middle{
        width: 28%;
        justify-content: center;
        align-items: center;

    }
    .w-right{
        width: 15%;
    }

@media (max-width: 700px){
    .menu{
        display: flex;
        padding-right: 5%;
    }
    .user{
        width: 100%;
    }
    .links{
        display: none;
    }
    header{
        height: 6vh;
    }
    .hamburg{
        width: 50%;
        list-style-type: none;
        background-color: rgb(142, 100, 190);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: fit-content;
        padding-bottom: 5%;
        border: 2px solid black;
        box-shadow: 6px 10px 5px rgba(0, 0, 0, 0.342);
        display: none;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    li{
        margin-top: 4%;
    }
    .info{
        font-size: x-large;
        font-weight: bold;
        display: flex;
        
        padding-top: 1%;
    }
    .close{
        width: 80%;
        justify-content: right;
        display: flex;
        font-size: x-large;
        padding: 4% 0 0 88%;
    }
    footer{
        justify-content: space-between;
    }
    .foot_l{
        width: 40%;
    }
    .foot_r{
        width: 55%;
        justify-content: space-between;
    }
    .icons > a{
        padding: 0 2%;
    }
    .sign-up{
        height: 100vh;
        padding: 20% 5% 30% 5%;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .top-text{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .title{
        font-size: x-large;
        text-align: center;
        width: 85%;
        margin-left: 8%;
    }
    .sub-title{
        text-align: center;
        margin-top: 5%;
        padding: 0 3%;
    }
    .bot-half{
        width: 100%;
        padding: 0 0 6% 0;
    }
    .purp-box{
        margin: 10% 0 6% 0;
        padding: 5% 15%;
        width: 100%;
    }
    .white-box{
        padding: 7%;
        width: 100%;
    }
    input[type=text],input[type=email],input[type=password]{
        width: 100%;
        padding: 5% 3%;
        margin: 3% 0;
    }
    input[type=submit]{
        padding: 7% 16% 5% 16%;
        font-size: 1rem;
        margin: 2% 0;
    }
    .disclaim{
        text-align: center;
        margin: 4% 7% 0 0%;
    }

    /* weather */
    .weather-div{
        position: static;
        left: 0;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 16% 2% 3% 2%;
    }
}