*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(46, 42, 63);
}

header{
    position: fixed;
    width: 100%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(142, 100, 190);
    color: rgb(255, 239, 91);
}

.user{
    width: 13.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i_user{
    font-size: x-large;
    padding: 0 4%;
}

.links{
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project:hover{
    border: 1px solid rgba(46, 42, 63, 0.5);
    box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.089);
    border-radius: 10px;
}

.project{
    border: 1px solid transparent;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 239, 91);
    font-size: larger;
    background: rgb(142, 100, 190);
    padding: 5%;
}

main{
    margin: 0;
    padding: 5% 3.3%;
    color: rgb(222, 219, 250);
}

.main_title{
    margin: 3% 2% 0 2%;
    color: rgb(255, 255, 255);
}

.contact{
    font-size: x-large;
    color: #000000;
}

footer{
    width: 100%;
    position:fixed;
    left:0px;
    bottom:0px;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(142, 100, 190);
    color: rgb(0, 0, 0);
}

.foot_l{
    display: flex;
    width: 25%;
    font-size: large;
    align-items: center;
    font-weight: bold;
}

.or{
    font-weight: 100;
    color: rgb(192, 189, 219)
}

.foot_r{
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.icons{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
    width: 33.5%;
    border: 2px solid black;
}

.subhead, h2{
    margin: 1% 5%;
    padding: 0;
}

.asterisk{
    color: rgb(209, 58, 58);
}

.blue_text{
    color: aqua;
}

.form_text{
    font-weight: bold;
}

.name{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
}

.n{
    display: flex;
    flex-direction: column;
    padding-right: 1%;
}

.address{
    padding-top: 4%;
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}

.form_stuff{
    border: 2px solid blue;
    display: flex;
    margin: 0 5%;
}

.p1{
    padding: 4% 0;
}

.p2{
    padding: 45% 0;
}

.a{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid pink;
}

.a > input{
    width: 50%;
}

.a > label{
    padding-right: 5%;
}