.header{
    top: 0%;
    left: 0%;
    width: 100%;
    position: absolute;
    border: 1px solid black;
}

.web_name{
    font-family: 'Cinzel', serif;
    font-size: 30px;
    display: inline;
}

.head_sq{
    font-size: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

.content{
    background-color: rgb(149, 212, 223);
}